body {
    background:lavender;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    margin-bottom:20px;
    background:lightsteelblue;
    border-radius:10px;
    box-shadow: 5px 5px #888888;

}

.assignment img {
    width:200px;
    border: 2px solid firebrick;
    margin-right: 20px;
    border-radius: 10px;

}
h1 {
    color:midnightblue;
    text-align: center;
}
a {
    text-decoration: none;
    color: midnightblue;

}
.assignment a:hover {
    color: maroon
}